<h1>JOIN US</h1>

<p>Enter your email to join <strong>500</strong> others on our waitlist.</p> 

<form>
    <input type="text" class="form" placeholder="Enter your Email">
    <button>Join now</button>
</form>